[Unit]
Description=OpenLAN Controller daemon
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/openlan-ctl.cfg
ExecStart=/bin/bash -c '/usr/bin/openlan-ctl $OPTIONS &'
ExecStop=/usr/bin/kill `/usr/sbin/pidof openlan-ctl`

[Install]
WantedBy=multi-user.target
