{
    "name": "esp",
    "provider": "esp",
    "interface": {
        "spi": 100,
        "local": "100.64.0.10",
        "state": {
            "auth": "0x00",
            "secret": "0x00",
            "local": "2.16.1.1:192.168.1.10"
        },
        "members": [
            {
                "name": "esp-100",
                "remote": "100.64.0.20",
                "state": {
                    "remote": "2.16.1.2"
                }
            },
            {
                "name": "esp-200",
                "spi": 200,
                "remote": "100.64.0.30",
                "state": {
                    "local": "2.16.1.1:192.168.1.10",
                    "remote": "2.16.1.2",
                    "auth": "0x00",
                    "secret": "0x00"
                },
                "policy": [
                    {
                        "local": "192.168.1.0/24",
                        "remote": "192.168.2.0/24"
                    }
                ]
            }
        ]
    }
}
