{
    "name": "esp",
    "provider": "esp",
    "interface": [
        {
            "spi": "0x01",
            "reqid": "0x01",
            "state": {
                "local": "2.16.1.1:192.168.1.10",
                "remote": "2.16.1.2",
                "auth": "0x00",
                "secret": "0x00",
            },
            "policy": [
                {
                    "local": "100.64.0.10",
                    "remote": "100.64.0.20"
                },
                {
                    "local": "192.168.1.0/24",
                    "remote": "192.168.2.0/24"
                }
            ]
        }
    ]
}
