[Unit]
Description=OpenLAN Controller daemon
After=network.target

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/openlan/ctrl.cfg
ExecStart=/usr/bin/openlan-ctrl $OPTIONS
ExecStop=/usr/bin/kill `/usr/sbin/pidof openlan-ctrl`
LimitNOFILE=102400
Restart=always

[Install]
WantedBy=multi-user.target
