[Unit]
Description=OpenLAN Virtual Switch daemon
After=network.target

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/openlan/switch.cfg
ExecStartPre=-/usr/sbin/modprobe bridge
ExecStartPre=-/usr/sbin/modprobe br_netfilter
ExecStartPre=-/usr/sbin/modprobe xfrm4_mode_tunnel
ExecStart=/usr/bin/openlan-switch $OPTIONS
LimitNOFILE=102400
Restart=always

[Install]
WantedBy=multi-user.target
