[Unit]
Description=OpenLAN Virtual Switch daemon
After=network.target

[Service]
Type=notify
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/openlan/switch.cfg
ExecStart=/usr/bin/openlan-switch $OPTIONS
ExecStop=/usr/bin/kill `/usr/sbin/pidof openlan-switch`

[Install]
WantedBy=multi-user.target
