[Unit]
Description=OpenLan point daemon
After=network.target

[Service]
Type=notify
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/openlan/point.cfg
ExecStart=/usr/bin/openlan-point $OPTIONS

[Install]
WantedBy=multi-user.target
