[Unit]
Description=OpenLAN Proxy daemon
After=network.target

[Service]
Type=notify
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/openlan/proxy.cfg
ExecStart=/usr/bin/openlan-proxy $OPTIONS
LimitNOFILE=102400

[Install]
WantedBy=multi-user.target
