[Unit]
Description=OpenLAN Virtual Switch daemon
After=network.target

[Service]
Type=notify
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/openlan/switch.cfg
ExecStartPre=-/usr/sbin/modprobe bridge br_netfilter
ExecStart=/usr/bin/openlan-switch $OPTIONS
LimitNOFILE=102400

[Install]
WantedBy=multi-user.target
