{
    "protocol": "tls",
    "cert": {
        "dir": "/var/openlan/cert"
    },
    "http": {
        "public": "/var/openlan/public"
    },
    "crypt": {
        "algo": "aes-128",
        "secret": "12345^"
    },
    "inspect": [
        "neighbor",
        "online"
    ],
    "ldap": {
        "server": "ldap-server.net:389",
        "bindDN": "cn=admin,dc=openlan,dc=com",
        "password": "your-passowrd",
        "baseDN": "dc=openlan,dc=com",
        "attribute": "cn",
        "filter": "(cn=%s)"
    }
}
