{
  "protocol": "tls",
  "cert": {
    "dir": "/var/openlan/ca"
  },
  "http": {
    "public": "/var/openlan/public"
  },
  "crypt": {
    "secret": "12345^"
  },
  "proxy": {
    "socks": [
      {
        "listen": "0.0.0.0:11080"
      }
    ],
    "http": [
      {
        "listen": "0.0.0.0:11082",
        "auth": {
          "username": "hi",
          "password": "12345^"
        }
      },
      {
        "listen": "0.0.0.0:11083",
        "auth": {
          "username": "hi",
          "password": "12345^"
        },
        "cert": {
          "dir": "/var/openlan/ca"
        }
      }
    ],
    "tcp": [
      {
        "listen": "0.0.0.0:80",
        "target": ["192.168.100.80:80", "192.168.100.81:80"]
      }
    ]
  },
  "network": [
    {
      "name": "default",
      "bridge": {
        "address": "192.168.100.40/24"
      },
      "subnet": {
        "start": "192.168.100.250",
        "end": "192.168.100.254",
        "netmask": "255.255.255.0"
      },
      "hosts": [
      ],
      "links": [
        {
          "protocol": "tls",
          "connection": "you.openlan.net",
          "username": "hi",
          "password": "12345"
        }
      ],
      "routes": [
        {
          "prefix": "192.168.10.0/24"
        }
      ],
      "password": [
        {
          "username": "hi",
          "password": "12345^"
        }
      ]
    }
  ],
  "inspect": [
    "neighbor",
    "online"
  ]
}
