{
  "cert": {
    "dir": "/var/openlan/ca"
  },
  "http": {
    "public": "/var/openlan/public"
  },
  "crypt": {
    "algo": "xor",
    "secret": "123456"
  },
  "socks": {
    "listen": "192.168.100.40:11080"
  },
  "network": [
    {
      "name": "default",
      "bridge": {
        "address": "192.168.100.40/24"
      },
      "subnet": {
        "start": "192.168.100.250",
        "end": "192.168.100.254",
        "netmask": "255.255.255.0"
      },
      "hosts": [
      ],
      "links": [
        {
          "protocol": "tls",
          "connection": "you.openlan.net",
          "username": "hi",
          "password": "12345"
        }
      ],
      "routes": [
        {
          "prefix": "192.168.10.0/24"
        }
      ],
      "password": [
        {
          "username": "hi",
          "password": "12345"
        }
      ]
    }
  ]
}
