[Unit]
Description=OpenLan vswitch daemon
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/vswitch.cfg
ExecStart=/bin/bash -c '/usr/bin/vswitch $OPTIONS &'
ExecStop=/usr/bin/kill `/usr/sbin/pidof vswitch`

[Install]
WantedBy=multi-user.target
