{
    "name": "vxlan",
    "provider": "vxlan",
    "interface": {
        "local": "100.64.0.10",
        "members": [
            {
                "name": "vxlan-100",
                "vni": 100,
                "remote": "100.64.0.20",
                "bridge": "br-em1"
            },
            {
                "name": "vxlan-200",
                "vni": 200,
                "local": "100.64.0.10",
                "remote": "100.64.0.20",
                "network": "default"
            }
        ]
    }
}
